/*
*
* 共通コンポーネント
*
*/
// 変数関数のインポート
@import "settings";
@import "functions";

// メディアクエリ(要素毎に設定)
@mixin min_screen($breakpoint){
	@media screen and (min-width: $breakpoint){
		@content;
	}
}
// ベンダープレフィックス
@mixin PropertySetPrefix($name,$value){
	@each $prefix in $set_prefix {
		#{$prefix}#{$name}: #{$value};
	}
}
@mixin ValueSetPrefix($name,$value){
	@each $prefix in $set_prefix {
		#{$name}: #{$prefix}#{$value};
	}
}

/* フォントサイズ */
$i:10;
@while $i <= 18 {
	.fs#{$i} {
		font-size:#{$i}px;
	}
	$i:$i + 1;	
}
/* margin-bottom */
$i:0;
@while $i <= 120 {
	.mb#{$i} {
		margin-bottom:#{$i}px;
	}
	$i:$i + 5;	
}
/* margin-top */
$i:0;
@while $i <= 120 {
	.mt#{$i} {
		margin-top:#{$i}px;
	}
	$i:$i + 5;	
}
/* margin-right */
$i:1;
@while $i <= 30 {
	.mr#{$i} {
		margin-right:#{$i}px;
	}
	$i:$i + 1;	
}
/* mr %指定 */
.mr5p {
	margin-right: 5%;
}
.mr10p {
	margin-right: 10%;
}
.mr15p {
	margin-right: 15%;
}
.mr_a {
	margin-right: auto;
}
/* margin-left */
$i:1;
@while $i <= 10 {
	.ml#{$i} {
		margin-left:#{$i}px;
	}
	$i:$i + 1;	
}
/* ml %指定 */
.ml5p {
	margin-left: 5%;
}
.ml10p {
	margin-left: 10%;
}
.ml15p {
	margin-left: 15%;
}
.ml_a {
	margin-left: auto;
}


/* padding-bottom */
$i:0;
@while $i <= 50 {
	.pb#{$i} {
		padding-bottom:#{$i}px;
	}
	$i:$i + 5;	
}
/* padding-top */
$i:0;
@while $i <= 50 {
	.pt#{$i} {
		padding-top:#{$i}px;
	}
	$i:$i + 5;	
}
/* padding-right */
$i:1;
@while $i <= 10 {
	.pr#{$i} {
		padding-right:#{$i}px;
	}
	$i:$i + 1;	
}
/* padding-left */
$i:1;
@while $i <= 10 {
	.pl#{$i} {
		padding-left:#{$i}px;
	}
	$i:$i + 1;	
}
/* line-height */
$i:10;
@while $i <= 120 {
	.lh#{$i} {
		line-height:#{$i}px;
	}
	$i:$i + 2;	
}
/* height %指定 */
.ht80 {
	height: 80%;
}
.ht100 {
	height: 100%;
}

/* 背景色 */
.bg_white {
	background-color: white!important;
}
.bg_grey {
	background-color: lightgrey!important;
}

/* フォントウェイト */
.fw_b {
	font-weight: bold;
}
.fw_n {
	font-weight: normal;
}


// 必須マーク
@mixin required {
	border-color: $baseColorPink;
	color: $baseColorPink;
	border-radius: 3px;
}

// プロフ項目
@mixin index {
	// border-left: 8px solid $baseColorPink;
	padding-left: 8px;
	background: #f44336; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa087,#fe66a4); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa087),color-stop(100%,#fe66a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa087,#fe66a4); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa087,#fe66a4); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa087,#fe66a4); /* IE10+ */
	background: linear-gradient(to bottom, #ffa087,#fe66a4); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa087', endColorstr='#fe66a4',GradientType=0 ); /* IE6-9 */
}

// 編集ボタン
@mixin subbtn {
	border-color: $subColor;
	color: $subColor;
	border-radius: 3px;
}

// submitボタン
@mixin submit {
	border-radius: 3px;
	background: $blandColor;
	color: $FontColorContrast;
	&:hover {
		opacity: $baseOpacity;
	}
}
// display:flex
.disfle {
	@include ValueSetPrefix('display','flex');
}

// flex-boxのspace-between
.sp-between {
	@include ValueSetPrefix('display','flex');
	@include PropertySetPrefix('justify-content','space-between');
}
// flex-boxのspace-around
.sp-around {
	@include ValueSetPrefix('display','flex');
	@include PropertySetPrefix('justify-content','space-around');
}
// flex-boxのwrap
.wrap {
	@include ValueSetPrefix('display','flex');
	@include PropertySetPrefix('flex-wrap','wrap');
}

// width
.wd20 {
	width:20%;
}
.wd30 {
	width:30%;
}
.wd35 {
	width:35%;
}
.wd40 {
	width:40%;
}
.wd50 {
	width:50%;
}
.wd55 {
	width:55%;
}
.wd60 {
	width:60%;
}
.wd65 {
	width:65%;
}
.wd70 {
	width:70%;
}
.wd80 {
	width:80%;
}
.wd90 {
	width:90%;
}
.wd100 {
	width:100%;
}
//height
$i:20;
@while $i <= 300 {
	.he#{$i} {
		height:#{$i}px;
	}
	$i:$i + 5;	
}

//フロート
.fr {
	float: right;
}
.fl {
	float: left;
}
.of_h {
	overflow: hidden;
}
// 長文省略
.text_clamp_s {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text_clamp_m {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.text_clamp_title {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.list_border {
	border-top:1px solid rgba(0,0,0,.1);
}
/*
*
* 共通スタイル
*
*/
/* html */
// html {
// 	height: 100%;
// }
// body {
// 	height: 100%;
// }

/* セレクトボックス */
select {
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	appearance: none!important;	
}
/* 表示 / 非表示 */
.disnone {
	display:none;
}
.disblo {
	display:block;
}
.dis_inblo {
	display: inline-block;
}
/* モバイルのinput */
input[type="submit"],input[type="button"] {
	-webkit-appearance: none!important;
}
/* フッター */
.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 15px 0;
    box-shadow: 0 -0.5px 3px rgba(0, 0, 0, 0.2);
}
/* プロフィールラベル */
.label_prof {
	@include index;

}
.label_prof > span {
	display:block;
	background:#fff;
	padding-left:3%;
	margin-right: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}
/* 必須 */
.tag {
	border: 1px solid #fe66a4;
    border-radius: 3px;
    padding: 5px 7px;
    font-size:11px;
}
.tag_grey {
	@extend .tag;
	color: #626063;
	border: 1px solid #626063;
}
.tag_no_select {
	@extend .tag;
	color: lightgrey;
	border: 1px dashed lightgrey;
}
.tag_pink {
	@extend .tag;
	color: #fe66a4;
	border: 1px solid #fe66a4;
}
.tag_blue {
	@extend .tag;
	color: #67c3fc;
	border: 1px solid #67c3fc;	
}
.required {
	@extend .tag;
    font-weight: normal;
    font-size: 80%;
    padding: 0 7px;
    margin-left: 10px;
    color: #fe66a4;
}
/* メッセージ */
.msg {
	font-size:12px;
	font-weight: bold;
	padding:2px 4px;
	color:white;
}

.errorMsg {
	@extend .msg;
	background:red;
}
.warnnigMsg {
	@extend .msg;
	background:orange;
}
/* input */
.inputBaseStyle {
	background-color: #eeeeee;
    border: none;
    box-shadow: none;	
}
/* nav-bar */
.nav-bar-fixed {
	position: fixed;
    top: 0;
    width: 100%;
}

/* ページタイトル */
.title-area-register {
	display: flex;

}
.title-text {
	text-align: center;
	font-weight: bold;
    margin-left: auto;
    margin-right: auto;
	line-height: 30px;
	background: #444444;
	background: -webkit-linear-gradient(left, #ffa087 0%,#fe66a4 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.container_5 {
	padding-left: 5%;
	padding-right: 5%;
}
.container_10 {
	padding-left: 10%;
	padding-right: 10%;
}
/* 追加ボタン */
.btn_add {
	border-radius: 50%;
    font-size: 32px;
    line-height: 25px;
    background-color: #eeeeee;
    color: #b5b5b5;
    border: none;	
}

/*
*
* 登録ページ・プロフィールページ
*
*/
.submitBtnContainer {
	position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    margin-left: -10%;
    margin-bottom: 0;
    padding: 10px;
    background-color: white;
}
.submitBtn {
	background: linear-gradient(to right bottom,#ffa087, #fe66a4);
	background: -webkit-linear-gradient(to right bottom,#ffa087, #fe66a4);
	color:white;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	border:none;
}
.registerBtn {
	@extend .submitBtn;
	height: 50px;
    font-size: 20px;	
}

.thumb {
	width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.thumb_mini {
	width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.thumb_mini_s {
	width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}
.thumb_form {
	text-align: center;
}
.selected_tag {
	background-color: $baseColorPink;
	color: white;
}


/*
*
* 今日のファン友
*
*/
.card_container {
	background: #f7f7f8;
}
.card {
	box-shadow:2px 2px 3px rgba(0,0,0,.3);
	border-radius:3px;
	padding:5%;
	border:1px solid lightgrey;
	position: relative;
	background: white;
}
.negativeBtn {
	background: #bdbea4;
	color:white;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	border:none;
}
.name {
	height: 80px;
    display: table-cell;
    vertical-align: middle;	
	padding-left: 5%;
    padding-right: 5%;
}
.profile_link > a{
	color:$baseColorPink;
	font-weight: bold;
}
.tag_container {
	height: 34px;
    overflow: hidden;	
}
.btn_judge_container {
	position: absolute;
    width: 90%;
    bottom: 0;
}
/*
*
* チャットルーム
*
*/


